.navbar-fixed-top .container-fluid img {
	height: 35px;
	margin-top: 7px;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	/*box-shadow: 2px 2px 2px rgba(0,0,0,1);*/
}

#log_content b {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: right;
}

#log_content {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: right;	
}

a {
	color: red;
}

.navbar-text {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
}

.navbar{
	border-width: 1px;
	border-color: #A9A9A9;
	background-color: #6495ED;
	/*box-shadow: 6px 6px 6px 0px #888888;*/
}

.form-control {
	/*box-shadow: 5px 5px 5px #888888;*/
	border-radius: 0px;
}

.panel-default {
	/*box-shadow: 1px 1px 1px #888888;*/
	border-width: 1px;
	border-color: #A9A9A9;
	border-radius: 0px;
}

.btn-default {
	/*box-shadow: 5px 5px 5px #888888;*/
}

.panel-default .panel-heading {
	background-color: #6495ED;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 0px;
}
body {
	background-color: #D3D3D3;
	padding-top: 60px;
}

.btn-default {
	margin-bottom: 20px;
	border-radius: 0px;
}

#date-content {
	text-align: right;
}